.smart-player-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 65px; /* גובה קבוע ודק */
  background-color: #000000;
  border-bottom: 1px solid #282828;
  z-index: 1000;
}

.nav-logo a {
  font-size: 1.4rem;
  font-weight: 800;
  color: #1DB954;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.2s;
}

.nav-links a:hover { color: white; }

.signup-btn {
  background-color: white;
  color: black;
  padding: 8px 20px;
  border-radius: 500px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
}