/* LibraryPage.css */
.library-layout {
  display: flex;
  width: 100%;
  height: 100%;

}
/* סיידבר מעוצב בצד */
.sidebar {
  width: 280px;
  min-width: 280px;
  background-color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #282828;
}

/* אזור השירים המרכזי */
.main-content {
  flex-grow: 1; /* גורם לאזור התוכן למלא את כל שאר המסך */
  background: linear-gradient(to bottom, #1e1e1e 0%, #121212 100%);
  display: flex;
  flex-direction: column;
  align-items: center; /* ממרכז את התוכן אופקית */
  padding: 40px 20px;
  overflow-y: auto;
}

/* העטיפה ששומרת על הטבלה במרכז */
.content-wrapper {
  width: 100%;
  max-width: 1000px; /* רוחב אידיאלי למרכוז עין המשתמש */
}

/* ניקוי MUI כדי שהטבלה לא תהיה לבנה */
.main-content .MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100% !important;
}

.main-content .MuiTableCell-root {
  color: #b3b3b3 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  text-align: right;
}
