.my-song-row {
  cursor: pointer;
  transition: background-color 0.2s ease !important;
}

.my-song-row td {
  border: none !important;
}

.my-song-row:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.my-song-row:hover .num {
  color: #ffffff !important;
}

.my-song-row:hover .song-title-text {
  color: #ffffff !important;
}

.my-song-row:hover .song-artist-text {
  color: #ffffff !important;
}

.index-cell-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.row-play-icon {
  display: none;
}

.my-song-row:hover .num {
  display: none !important;
}

.my-song-row:hover .row-play-icon {
  display: block !important;
}

.num {
  font-size: 0.9rem;
  color: #b3b3b3;
}

.song-title-text {
  color: #ffffff !important;
  font-size: 0.9rem;
  font-weight: 500;
}

.song-artist-text {
  color: #b3b3b3 !important;
  font-size: 0.85rem;
}

.song-img-placeholder {
  width: 40px;
  height: 40px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}


.delete-cell {
  padding: 0 !important;
  width: 50px !important;
}

.row-delete-icon {
  background: none;
  border: none;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  color: #b3b3b3;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: opacity 0.2s ease, color 0.2s ease, background-color 0.2s ease;

  position: relative !important;
  z-index: 99 !important;
  pointer-events: auto !important;
}

.my-song-row:hover .row-delete-icon {
  opacity: 1;
}

.row-delete-icon:hover {
  color: #ff5c5c !important;
  background-color: rgba(255, 92, 92, 0.15) !important;
}