.song-table-container {
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: none !important;
  
  height: calc(100% - 60px); 
  overflow-y: auto !important;
  overflow-x: hidden !important;
  direction: rtl; 
}

.song-table-header th {
  text-align: right !important;
}

.song-table-container .MuiTableRow-root:hover td,
.song-table-container .MuiTableRow-root:hover span,
.song-table-container .MuiTableRow-root:hover p {
  color: #ffffff !important; 
}

.song-table-container::-webkit-scrollbar {
  width: 6px;
}

.song-table-container::-webkit-scrollbar-track {
  background: transparent;
}

.song-table-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.song-table-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
